<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/styling.css">
    <title>Document</title>
</head>
<body>
    <div class="header"><h1>Restaurants</h1></div>
    <div class="restaurants"></div>
    <div class="restaurant-menu"></div>
    {{!-- <div class="main-container">
        <div class="restaurants"></div>
        <div class="restaurant-menu"></div>
    </div> --}}

    <!-- Handlebars Templates -->
    <script type="text/x-template" id="restaurants-template">
        {{#each this}}
        <div class="card-restaurants">
            <div class="content">
                <h3><span class="title">{{name}}</span></h3>
                <a href="{{website_address}}">
                    <img src="{{images}}" alt="{{name}}" width="100%">
                </a>
                <p class="email details">{{email_address}}</p>
                <p class="phone-number details">{{phone}}</p>
                <a class="action" href="#restaurant={{name}}">
                    Restaurant Menu <span aria-hidden="true"> → </span>
                </a>
            </div>
        </div>
        {{/each}}
    </script>

    <script type="text/x-template" id="restaurant-menu-template">
        {{#each categories}}
        <h3 class="title">{{name}}</h3>
        <div class="restaurants">
            {{#each items}}
            <div class="card-menu">
                <div class="content">
                    <div class="details">
                        <p><strong>{{name}}</strong></p>
                        <p><strong>R</strong> {{price}}.00</p>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/each}}
    </script>

     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
     <script src="/scripts/script.js"></script>
     <div class="footer"><p>Contact Us:</p>
                          <p>07171877010</p>
        <p>Mandy@gmail.com</p></div>
</body>
</html>