<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/styling.css">
    <title>Document</title>
</head>
<body>
    <div class="header"><h1>Restaurants</h1></div>
<!-- restaurants.handlebars -->
<div class="restaurants">
  {{#each restaurants}}
    <div class="card-restaurants">
      <div class="content">
        <h3><span class="title">{{this.name}}</span></h3>
        <a href="{{this.website_address}}">
          <img src="{{this.images}}" alt="{{this.name}}" width="80%" height="40%">
        </a>
        <p class="email details">{{this.email_address}}</p>
        <p class="phone-number details">{{this.phone}}</p>
        <p class="web details">{{this.address}}</p>
        <p class="web details">{{this.website_address}}</p>
        <a class="action" href="#restaurant={{this.name}}">
          Restaurant Menu <span aria-hidden="true"> → </span>
        </a>
      </div>
    </div>
  {{/each}}
</div>

<!-- restaurant-menu.handlebars -->
<div class="restaurant-menu">
  {{#each categories}}
    <div class="category">
      <h3 class="title">{{this.name}}</h3>
      <div class="category-items">
        {{#each this.items}}
          <div class="card-menu">
            <div class="content">
              <div class="details">
                <p><strong>{{this.name}}</strong></p>
                <p><strong>R</strong> {{this.price}}.00</p>
                <p>{{this.description}}</p>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>



     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
     <script src="/scripts/script.js"></script>
     <div class="footer"><p>Contact Us:</p>
                          <p>07171877010</p>
        <p>Mandy@gmail.com</p></div>
</body>
</html>